body {
  margin: auto;
  background-color: white;
  font-family: 'Manrope', sans-serif;
}

/*-----------------------------HEADER------------------------------*/

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  top: 0; 
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.8;
  background: #212121;
  height: 3em;
}

.header-nav {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-item {
  list-style: none;
  text-align: center;
}

.header-link {
  display: block;	
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.header-link:hover {
  color: #58d68d;
  transition: all ease .3s;
}

/*-----------------------------INTRO------------------------------*/

.intro {
  background-image: linear-gradient(rgba(88, 214, 41, 0.2), rgba(21, 21, 21, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 3em;
  overflow: auto;	
}

.main-header {
  color: #FF3399;
  margin: 3em 3em 2em;  
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px #212121;
  letter-spacing: 5px;
}

.description {
  color: white;
  padding-top: 1em;
  text-align: center;
  width: 70%;
  margin: auto;
  font-weight: bold;
  font-size: 120%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px black;
}

.order-button {
  margin: 2em auto 2em;
  width: 12em;
  order: solid;
  line-height: 3em;
  text-align: center;
  background-color: #f7f9f9;
  border-radius: 5px;
  border: 2px solid #0b5345;
}

.intro-button {
  margin-bottom: 5em;
}

.order-button:hover {
  border: 2px solid #f7f9f9;
  background: #58d68d;
  transition: all ease .3s;
}

.link {
  height: 100%;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #0b5345;
}

.link:hover {
  color: #f7f9f9;
  transition: all ease .3s;
}
/*-----------------------------LOCATION------------------------------*/

.location {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.clickable:hover {
  cursor: pointer;
  border: solid #0b5345;
  border-radius: 5px;
  text-decoration: none;
  transition: all ease .3s;
}

.how-to-get {
  width: 30em;
  margin: auto;
  overflow: auto;
  vertical-align: top;
}

.text {
  text-indent: 1em;
  padding: 2em;
  color:  #212121;
}

.picture {
  margin-bottom: 2em;
}

.picture img {
  display: block;
  height: 16em;
  width: 28em;
  margin: auto;
  border: solid #0b5345;
  border-radius: 5px;
}

.std-header {
  text-align: center;
  text-decoration: underline;
  font-size: 140%;
  margin: 3em auto 1em;
  color: #0b5345;
  width: 50%;
}

span {
  text-decoration: line-through;
}

/*-----------------------------ORDER------------------------------*/

.option-1-of-3 {
  margin: 2em auto;
  width: auto;
  border: solid #0b5345;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f7f9f9;
}

.options {
  background: rgba(21, 21, 21, 0.8);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.option-1-of-3 .text {
	text-align: center;
	font-weight: bold;
  font-size: 120%;
  padding: 0;
  color: #FF3399;
} 

.option-description {
	text-align: center;
	margin: 0 10px;
	padding: 0;
  color:  #212121;
  list-style: none;
}

.sml-header {
  text-align: center;
  padding-top: 1em;
  color: #0b5345;
  text-decoration: underline;
  font-size: 105% 
}

/*-----------------------------FEEDBACK------------------------------*/

.feedback {
  width: 80%;
  margin: auto;
}

.feeds {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback .std-header {
  width: auto;
  margin: 2em auto;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em;
  flex: 1;
}

.photo {
  width: 10em;
  height: 10em;
  margin: auto;
}

.photo img {
  border-radius: 50%;
  border: solid #0b5345;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feed .text {
  width: 55%;
  padding: 1em;
  text-align: left;
  text-indent: 0;
  color: #212121;
}

.decor {
  font-weight: bold;
  text-decoration: none;
}

.appear:hover {
  opacity: 0.5;
  transition: all ease .3s;
  cursor: pointer;
}
/*-----------------------------FOOTER------------------------------*/

footer {
  width: 90%;
  max-width: 1200px;
  margin: 3em auto auto;
  display: flex;
  flex-wrap: wrap;
  background: #58d68d;
}

.foot-block {
  flex: 1;
  margin: 20px auto;
}

@media (max-width: 640px) {
  .foot-block {
    flex: auto;
  }
}

.foot-block .text {
  text-indent: 0;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #212121;
}

.sml-header-foot {
  color:  #212121;
  text-align: center;
  margin: 0 0 10px;
  font-size: 105%;
} 

.logos {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
} 

.logo {
  width: 2.5em;
  height: 2.5em;
  margin: auto;
}

.logo:hover {
  cursor: pointer;
}

footer div a {
  color: white;
  text-decoration: none;
}