body {
  margin: auto;
  background-color: #ebf5fb;
  font-family: 'Manrope', sans-serif;
}

/*-----------------------------HEADER------------------------------*/
.header {
  position: fixed;
  width: 100%;
  height: 4em;
  top: 0; 
  opacity: 0.9;
  background: #d6eaf8;
  display: table;
}

.header-nav {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  overflow: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.header-item {
  float: left;
  list-style: none;
  text-align: center;
  width: 20%;
  line-height: 2em;
  box-sizing: border-box;
  border-bottom: groove #b3e5fc;
  border-radius: 2em;
}

.header-link {
  display: block;	
  text-decoration: none;
  font-weight: bold;
  color: #154360;
  text-shadow: 2px 2px 5px white;
}

.header-link:hover {
  color: #1565c0;
  transition: all ease .3s;
}

/*-----------------------------INTRO------------------------------*/

.intro {
  background-image: linear-gradient(rgba(0, 137, 123, 0.1), rgba(3, 169, 244, 0.2));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 4em;
  overflow: auto;	
}

h1 {
  color:  white;	
  margin: 4em 3em 2em 3em;  
  text-align: center;
  text-shadow: 2px 2px 5px darkblue;
}

.description {
  padding-top: 1em;
  text-align: center;
  width: 70em;
  margin: auto;
  font-weight: bold;
  color: white;	
  text-shadow: 2px 2px 5px darkblue;
}

.order-button {
  margin: 2em auto 2em auto;
  width: 12em;
  order: solid;
  line-height: 3em;
  text-align: center;
  background-color: #58d68d;
  border-radius: 5px;
}

.order-button:hover {
  background: #6a9a36;
  transition: all ease .3s;
}

.link {
  height: 100%;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #0b5345;
}
/*-----------------------------LOCATION------------------------------*/

.location {
  width: 80%;
  margin: 0 auto 0 auto;
}

.clickable:hover {
  cursor: pointer;
}

.how-to-get {
  display: inline-block;
  width: 49%;
  margin: auto;
  overflow: auto;
  vertical-align: top;
}

.text {
  text-indent: 1em;
  padding: 2em;
  color:  #17202a;
}

.picture {
  margin-bottom: 2em;
}

.picture img {
  display: block;
  height: 16em;
  width: 28em;
  margin: auto;
  border: solid #0b5345;
}

.std-header {
  text-align: center;
  text-decoration: underline;
  font-size: 140%;
  margin-top: 3em;
  color: #154360;
  text-shadow: 2px 2px 5px white;
}

span {
  text-decoration: line-through;
}

/*-----------------------------ORDER------------------------------*/

.option-1-of-3 {
  margin: 2em auto;
  width: 32%;
  border: solid #0b5345;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
}

.options {
  display: flex;
  justify-content: center;
}

.option-1-of-3 .text {
	text-align: center;
	font-weight: bold; 
} 

.option-description {
	text-align: center;
	margin: auto;
	padding: 0;
    color:  #17202a;
}

.sml-header {
  text-align: center;
  padding-top: 2em;
  color: #0b5345;
  text-decoration: underline;
  font-size: 105% 
}

/*-----------------------------FEEDBACK------------------------------*/

.photo img {
  border-radius: 50%;
  width: 16em;
  height: 16em;
  border: solid #0b5345;
}

.photo,
.feed .text {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.feedback {
  width: 80%;
  margin: auto;
}

.feed .text {
  width: 60%;
  padding: 2em;
  text-align: left;
  text-indent: 0;
}

.feed {
  margin: 2em;
  display: flex;
  align-items: center;
}

.decor {
  font-weight: bold;
  text-decoration: none;
}

/*-----------------------------FOOTER------------------------------*/

.foot-block {
  width: 30%;
  flex: 1;
  border-top: groove #b3e5fc;
  border-radius: 2em;
  height: 8em;
}

footer {
  margin-top: 3em;
  display: flex;
  align-items: stretch;
  background-image: linear-gradient(#ebf5fb, #d6eaf8, #2980b9);
}

.foot-block .text {
  text-indent: 0;
  margin: 0;
  padding: 0;
  text-align: center;

}

.sml-header-foot {
  color:  #17202a;
  text-align: center;
  margin: 0;
  padding: 1em;
  font-size: 105%;
} 

.logo {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin: auto;
}

.logos {
  padding-top: 0.5em;
  display: flex;
  align-items: center;

} 

.logo:hover {
  cursor: pointer;
}
